@media only screen and (max-width: 1300px) {

    .editProduct-fields-wrapper {
        width: 100%;
    }

    .editproduct-material-array-wrapper {
        border-top: 2px solid #808080;
        width: 100%;
        border-left: none !important;
        margin-top: 20px;
        padding-top: 10px;
    }

    .addProduct-fields-wrapper {
        width: 100%;
    }

    .addproduct-material-array-wrapper {
        border-top: 2px solid #808080;
        width: 100%;
        border-left: none !important;
        margin-top: 20px;
        padding-top: 10px;
    }

    .editproduct-materials-header {
        margin-bottom: 20px !important;
    }

    .addproduct-materials-header {
        margin-bottom: 20px !important;
    }

}


@media only screen and (max-width: 661px) {

    .editProduct-container {
        margin-bottom: 40px;
    }

    .addProduct-container {
        margin-bottom: 40px;
    }

    .editProduct-multi-field-wrapper {
        display: block !important;
    }

    .addProduct-multi-field-wrapper {
        display: block !important;
    }

    /* parent */
    .editproduct-material-fields-wrapper {
        flex-wrap: wrap;
        margin-bottom: 12px;
        margin-top: 4px;
        border-bottom: .1rem solid rgba(0, 0, 0, .3);
    }

    .addproduct-material-fields-wrapper {
        display: grid !important;
        grid-template-rows: auto;
        grid-template-columns: [first] auto [main] auto 30px [end];
        margin-bottom: 12px;
        margin-top: 4px;
        border-bottom: .1rem solid rgba(0, 0, 0, .3);
    }

    .item-a {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .item-b {
        grid-column-start: 1;
    }

    .item-c {
        grid-column-start: 2;
    }

    .item-d {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        justify-self: center;
        align-self: center;
    }

    /* child */
    .editproduct-material-field-item {
        display: inline-block;
    }

    .editproduct-material-field-item:first-child {
        width: 100%;
        margin-bottom: 0px !important;
    }

    .addproduct-material-field-item:first-child {
        width: 100%;
        margin-bottom: 0px !important;
    }

    .editproduct-material-field-item:not(:first-child) {
        flex: 1;
    }

}

@media only screen and (max-width: 501px) {

    .editproduct-material-fields-wrapper {
        flex-direction: column;
    }

    .editproduct-material-field-item {
        margin-bottom: 0px !important;
    }

    .editproduct-material-field-item:last-child {
        margin-bottom: 15px !important;
    }

    .addproduct-material-fields-wrapper {
        display: grid !important;
        grid-template-rows: auto;
        grid-template-columns: [first] auto [main] auto 30px [end];
        margin-bottom: 12px;
        margin-top: 4px;
        border-bottom: .1rem solid rgba(0, 0, 0, .3);
    }

    .item-a {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .item-b {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-bottom: 0 !important;
    }

    .item-c {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .item-d {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 3;
        justify-self: center;
        align-self: center;
    }

}