/* .container .app-table {
    overflow-x: auto !important;
    overscroll-behavior-inline: contain;
}

.app-table {
    padding-right: 20px !important;
    padding-bottom: 80px !important;
}

.multi-app-table {
    padding-bottom: 10px !important;
    margin-bottom: 40px !important;
    max-width: 100%;
}

.container .app-table table thead,
th,
td {
    white-space: nowrap;
} */

/* .container .app-table table th:nth-child(1),

td:nth-child(1),
.container .app-table table th:nth-child(3),
td:nth-child(3)


    {
    position: sticky;
    left: 0px;
} */

/* .container .app-table table th:nth-child(1) {
    background-color: #fff;
} */

/* tr:nth-child(odd) td {
    background: #f0f0f0;
}

tr:nth-child(even) td {
    background: #fff;
} */

/* PAID Style

    color: #389e0d;
    background: #f6ffed;
    border-color: #b7eb8f;

    UNPAID Style
    color: #d4380d;
    background: #fff2e8;
    border-color: #ffbb96;
*/

.multi-app-table {
    margin-bottom: 6rem;
}

/* .ant-table-body::-webkit-scrollbar {
    width: 1.5em;
}

.ant-table-body::-webkit-scrollbar-thumb {
    background-color: #389e0d !important;
} */

.ant-table-body::-webkit-scrollbar-track {
    background: hsl(120, 75%, 50% / 1) !important;
}

/* SALES STATUS STYLE */

.paid-status {
    color: #389e0d !important;
    background: #f6ffed !important;
    border: 1px solid #b7eb8f !important;
    border-radius: 6px !important;
}

.unpaid {
    color: #d4380d !important;
}

.warning {
    color: #664d03;
}

.unpaid-status {
    color: #d4380d !important;
    background: #fff2e8 !important;
    border: 1px solid #ffbb96 !important;
    border-radius: 6px !important;
}

.warning-status {
    color: #664d03 !important;
    background: #fff3cd !important;
    border: 1px solid #e1c77d !important;
    border-radius: 6px !important;
}

@keyframes scroll-shadow-sticky-elements {

    /* start with no shadow */
    from {
        box-shadow: none;
    }

    /* end with shadow pushing out right */
    to {
        box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 0.3);
    }
}

@media only screen and (max-width: 500px) {

    /* Rmoves Padding of Datatable */
    .app-table-container {
        padding-left: 5px;
        padding-right: 5px;
    }
}