:where(.css-dev-only-do-not-override-c0jm1m).ant-table-wrapper .ant-table-thead>tr>th {
    color: rgb(73, 80, 87) !important;
}

:where(.css-dev-only-do-not-override-c0jm1m).ant-table-wrapper .ant-table-ping-right .ant-table-cell-fix-right-first::after {
    box-shadow: inset -10px 0 8px -8px rgba(5, 5, 5, 0.1) !important;
}

:where(.css-dev-only-do-not-override-c0jm1m).ant-table-wrapper .ant-table-ping-left .ant-table-cell-fix-left-last::after {
    box-shadow: inset 10px 0 8px -8px rgba(5, 5, 5, 0.1) !important;
}

tr.ant-table-measure-row {
    padding: 0px !important;
    margin: 0px !important;
}

tr.ant-table-measure-row td {
    padding: 0px !important;
    margin: 0px !important;
}