h3 {
    font-size: 24px
}

.main-content-wrapper {
    transition: 0.5s;
    margin-left: 18.34%;
    margin-right: 1.66%;
}

.main-content-wrapper-close {
    transition: 0.5s;
    /* 20% side barwidth and spacing. 5%sidebar 15%/2 7.5%spacing left7.5% + 5%sidebar width */
    margin-left: 12.5%;
    margin-right: 7.5%;
}

.content-layout {
    max-width: 1200px;
    margin: 40px auto 30px;
    background: #fff;
    box-shadow: rgba(194, 159, 250, 0.15) 0px 0px 20px 3px;
    border-radius: 6px;
    padding: 50px 40px;
}

.not-allowed:hover {
    cursor: not-allowed;
}

.w-0 {
    width: 0 !important;
}

.pointer {
    cursor: pointer;
}