body {
    font-size: 14px !important;
}

.sidebar {
    box-shadow: rgba(194, 159, 250, 0.15) 0px 0px 20px 3px;
    height: 100%;
    /* width: 18.34 - 1.66 */
    width: 16.68%;
    max-width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.mobile-nav-bar {
    margin-top: 10px;
    height: 100vh;
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.close {
    width: 5%;
    min-width: 65px;
    max-width: 75px;
}

.sideBar-btn {
    all: unset;
    width: 24px;
    height: 24px;
    background-color: rgb(249, 250, 251);
    padding: .375rem;
    border-radius: .375rem;
}

.sideBar-btn:hover {
    background-color: rgb(243, 244, 246);
}

.icon-rotate {
    transition: 0.5s;
    transform: rotate(-180deg);
}

.icon-revert {
    transition: 0.5s;
    transform: rotate(0);
}

.sidebar .nav-link {
    padding-left: 1.5rem;
    height: 40px;
}

.nav-link {
    color: #333;
    font-weight: 500;
}

.nav-link-text {
    transition: all 0.2s linear;
    /* width: 0; */
}

.nav-link-text-close {
    transition: all 0.2s linear;
    width: 0;
}

.nav-link-icon {
    min-width: 1.15em;
    min-height: 1.15em;
    max-width: 1.5rem;
    max-height: 1.5rem;
    font-weight: 700;
    vertical-align: text-bottom;
    margin-right: .5rem;
}

.accordion-body {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms ease;
}

.accordion-content {
    overflow: hidden;
}

.show {
    grid-template-rows: 1fr;
}

.nav-header,
.mobile-nav-header {
    height: 60px !important;
}

.nav-body,
.mobile-nav-body {
    position: absolute !important;
    width: 100% !important;
    bottom: 60px !important;
    top: 60px !important;
    overflow-y: auto !important;
    padding-bottom: 15px !important;
}

.nav-footer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 60px !important;
    background-color: '#fff' !important;

}


@media only screen and (max-width: 1220px) {
    .sidebar {
        min-width: 200px;
    }

    .close {
        width: 5%;
        min-width: 65px;
    }
}

@media only screen and (max-width: 700px) {

    /* hides sidebar */
    .sidebar {
        display: none;
        width: 0;
        height: 0;
    }

    /* shows mobile navbar */
    .mobile-nav-button {
        display: flex;
        padding: 20px 22px;
    }

}

@media only screen and (min-width: 700px) {

    /* hides mobile navbar */
    .mobile-nav-button,
    .ant-drawer-content-wrapper,
    .ant-drawer-mask {
        display: none;
    }

}